<div ng-include="'app/shell/views/header.view.client.html'" id="selection"></div>
<div class="clearfix"></div>
<div class="container-fluid">
    <div class="row marginTopLR marginLeftLR" >
        <div class="col-sm-2 col-sm-offset-2">
            <div class="row left-bubble">
                <div class="circle-multiline" ng-click="vm.goToSpecificDiv('soft-skills')">
                    <span>Soft<br> Skills</span>
                </div>
            </div>
            <div class="row marginTopLR">
                <div class="learning-bubble">
                    <div class="talktext text-center">
                        <div class="row">
                            <p class="bubble-desc">
                                Today’s brightest and best are much more focused on their work/life balance and workplace wellness. In response, recruiters
                                invest more in determining an applicant’s soft skills to assure that they will fit well with
                                their corporate culture.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-sm-offset-1">
            <div class="row left-bubble">
                <div class="circle-multiline" ng-click="vm.goToSpecificDiv('corp-etiq')">
                    <span>Corporate Etiquette</span>
                </div>
            </div>
            <div class="row marginTopLR">
                <div class="learning-bubble">
                    <div class="talktext text-center">
                        <div class="row">
                            <p class="bubble-desc">
                                An unwritten code of conduct regarding the interactions among the members in a business setting. When proper professional
                                etiquette is used, all involved are able to feel more comfortable, and things tend to flow
                                more smoothly.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-sm-offset-1">
            <div class="row left-bubble">
                <div class="circle-multiline" ng-click="vm.goToSpecificDiv('tech-skills')">
                    <span>Technical Skills</span>
                </div>
            </div>
            <div class="row marginTopLR">
                <div class="learning-bubble">
                    <div class="talktext text-center">
                        <div class="row">
                            <p class="bubble-desc">
                                Technical skills are the knowledge and abilities needed to accomplish mathematical, engineering, scientific or computer-related
                                duties, as well as other specific tasks relating to technology.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix" ></div>
    <div class="row marginTopLR">
        <div class="learning-block">
            <h1 class="text-center font-black" id="soft-skills">Soft Skills</h1>
            <div class="talktext ">
                <div class="row">
                    <ul class="bubble-desc">
                        <b><p>Communication Skills:</p></b>
                        <p>Today’s brightest and best are much more focused on their work/life balance and workplace wellness.
                            In response, recruiters invest more in determining an applicant’s soft skills to assure that
                            they will fit well with their corporate culture.</p>
                        <p>“You’ll need to be able to clearly communicate thoughts or issues with management, give presentations
                            to customers, and keep in touch with lots of people via phone, e-mail and/or online meetings.”</p>
                        <b><p>	Interpersonal Skills:</p></b>
                        <p>Cultivating your interpersonal skills will make you an effective team or group leader, enable you
                            to build and maintain strong relationships with both coworkers and clients and help you manage
                            staff efficiently and effectively.</p>
                        <p>Conflict resolution is an essential part of this, as problems both in and out of your control will
                            happen, and not everyone will be happy all the time. These types of leadership skills are essential
                            as you advance in your career.
                        </p>
                        <b><p>Problem Solving and Critical Thinking:</p></b>
                        <p>In corporate world, technical problems, miscommunications and misunderstandings will happen, bringing
                            with them the risks of stalling or derailing a project or causing tension between team members.
                            This makes problem solving and critical thinking essential soft skills.</p>
                        <p>When these issues inevitably crop up, you need to be able to identify, assess and analyze complex
                            problems, quickly make decisions about how to handle the situation and then offer and implement
                            solutions.
                        </p>
                        <b><p>Enthusiasm, Commitment and Motivation:</p></b>
                        <p>You want that new job– make sure you show it!</p>
                        <p>Employers want to see that you are sincerely interested in the topics you studied for your degree,
                            as well as the new job you are applying for.

                        <p>Personal traits like honesty, integrity, and a strong work ethic will never go out of style.
                                Every employer wants to hire a leader with these characteristics.</p>
                        <p class="pull-right"><b class="font-black backToTop" ng-click="vm.goToSpecificDiv('selection')">Back to Top</b></p>


                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row marginTopLR">
        <div class="learning-block">
            <h1 class="text-center font-black"  id="corp-etiq">Corporate Etiquette</h1>
            <div class="talktext ">
                <div class="row">
                    <ul class="bubble-desc">
                        <b><p>Communication Skills:</p></b>
                        <p>Today’s brightest and best are much more focused on their work/life balance and workplace wellness.
                            In response, recruiters invest more in determining an applicant’s soft skills to assure that
                            they will fit well with their corporate culture.</p>
                        <p>“You’ll need to be able to clearly communicate thoughts or issues with management, give presentations
                            to customers, and keep in touch with lots of people via phone, e-mail and/or online meetings.”</p>
                        <b><p>	Interpersonal Skills:</p></b>
                        <p>Cultivating your interpersonal skills will make you an effective team or group leader, enable you
                            to build and maintain strong relationships with both coworkers and clients and help you manage
                            staff efficiently and effectively.</p>
                        <p>Conflict resolution is an essential part of this, as problems both in and out of your control will
                            happen, and not everyone will be happy all the time. These types of leadership skills are essential
                            as you advance in your career.
                        </p>
                        <b><p>Problem Solving and Critical Thinking:</p></b>
                        <p>In corporate world, technical problems, miscommunications and misunderstandings will happen, bringing
                            with them the risks of stalling or derailing a project or causing tension between team members.
                            This makes problem solving and critical thinking essential soft skills.</p>
                        <p>When these issues inevitably crop up, you need to be able to identify, assess and analyze complex
                            problems, quickly make decisions about how to handle the situation and then offer and implement
                            solutions.
                        </p>
                        <b><p>Enthusiasm, Commitment and Motivation:</p></b>
                        <p>You want that new job– make sure you show it!</p>
                        <p>Employers want to see that you are sincerely interested in the topics you studied for your degree,
                            as well as the new job you are applying for.

                            <p>Personal traits like honesty, integrity, and a strong work ethic will never go out of style.
                                Every employer wants to hire a leader with these characteristics.</p>
                                <p class="pull-right"><b class="font-black backToTop" ng-click="vm.goToSpecificDiv('selection')">Back to Top</b></p>


                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row marginTopLR"  >
        <div class="learning-block" >
            <h1 class="text-center font-black" id="tech-skills">Technical Skills</h1>
            <div class="talktext ">
                <div class="row">
                    <ul class="bubble-desc">
                        <b><p>Communication Skills:</p></b>
                        <p>Today’s brightest and best are much more focused on their work/life balance and workplace wellness.
                            In response, recruiters invest more in determining an applicant’s soft skills to assure that
                            they will fit well with their corporate culture.</p>
                        <p>“You’ll need to be able to clearly communicate thoughts or issues with management, give presentations
                            to customers, and keep in touch with lots of people via phone, e-mail and/or online meetings.”</p>
                        <b><p>	Interpersonal Skills:</p></b>
                        <p>Cultivating your interpersonal skills will make you an effective team or group leader, enable you
                            to build and maintain strong relationships with both coworkers and clients and help you manage
                            staff efficiently and effectively.</p>
                        <p>Conflict resolution is an essential part of this, as problems both in and out of your control will
                            happen, and not everyone will be happy all the time. These types of leadership skills are essential
                            as you advance in your career.
                        </p>
                        <b><p>Problem Solving and Critical Thinking:</p></b>
                        <p>In corporate world, technical problems, miscommunications and misunderstandings will happen, bringing
                            with them the risks of stalling or derailing a project or causing tension between team members.
                            This makes problem solving and critical thinking essential soft skills.</p>
                        <p>When these issues inevitably crop up, you need to be able to identify, assess and analyze complex
                            problems, quickly make decisions about how to handle the situation and then offer and implement
                            solutions.
                        </p>
                        <b><p>Enthusiasm, Commitment and Motivation:</p></b>
                        <p>You want that new job– make sure you show it!</p>
                        <p>Employers want to see that you are sincerely interested in the topics you studied for your degree,
                            as well as the new job you are applying for.
                        <p>Personal traits like honesty, integrity, and a strong work ethic will never go out of style.
                                Every employer wants to hire a leader with these characteristics.</p>
                        <p class="pull-right"><b class="font-black backToTop" ng-click="vm.goToSpecificDiv('selection')">Back to Top</b></p>



                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>