<div ng-include="'app/shell/views/header.view.client.html'"></div>
<div class="clearfix"></div>
<div class="container">

    <article>
        <div>
            <div class="col-xs-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1520.2650931467304!2d-94.88301433861793!3d40.352766956863725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c05585b7bd19b1%3A0xfc94da964c338044!2sNorthwest+Missouri+State+University!5e0!3m2!1sen!2sus!4v1508109213958"
                    width="100%" height="300" frameborder="0" allowfullscreen></iframe>
            </div>
            <div id="contact_us_form">
                <form class="ct-form" name="contactMe" ng-submit="vm.submitForm()" autocomplete="off">

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-xs-offset-2 col-xs-8">
                            <div class="form-group">
                                <label>Name</label>
                                <input name="name" ng-model="vm.contact.name" type="text" class="form-control" placeholder="" id="name" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-xs-offset-2 col-xs-8">
                            <div class="form-group">
                                <label>Email</label>
                                <input name="email" ng-model="vm.contact.email" type="email" class="form-control" placeholder="" id="email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-xs-offset-2 col-xs-8">
                            <div class="form-group">
                                <label>Descrption</label>
                                <textarea  name="description" ng-model="vm.contact.description" class="form-control" rows="5" required id="query"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center" ng-if="vm.successMsg.length">
                        <span class="alert-success" ng-bind="vm.successMsg"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-xs-offset-2 col-xs-8">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="footer-content text-center">
                <div class="dev">
                    <p>&copy; Developed by KAV Developers @NWMSU</p>
                </div>
            </div>
            </footer>
        </div>
    </article>
</div>